<log4net>
  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
    <!--<appender-ref ref="EventLogAppender" />-->
    <appender-ref ref="RollingFileAppender" />
  </root>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level - %message%newline%exception" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="InformSystemIntegrationTool" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level - %message%newline%exception" />
    </layout>
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <!-- File to store log messages -->
    <!-- Example "C:\files\log.txt"-->
    <file value="C:\Temp\InformSystem\IntegrationTool\Logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="1MB" />
    <maxSizeRollBackups value="10" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level - %message%newline%exception" />
    </layout>
  </appender>
</log4net>
